h1 {
    /* border-width determina o tamanho da borda */
    border-width: 10px;
    /* border-color determina a cor da borda */
    border-color: black;
    /* border-style determina o formato da borda */
    border-style: double;
}

p {
    /* Podemos criar bordas de maneira abreviada utilizado apenas a propiedade border. border recebe 3 valores, sendo eles: tamanho (10px)
    tipo (double)
    cor (black) */
    border: 5px dashed orange;
}




