/* reset básico do CSS */
/* * {
    padding: 0;
    margin: 0;
} */
p {
    background-color: red;
}

/* Todo paragrafo que estiver dentro de um <li> recebera o design abaixo. */
li p {
    background-color: yellow;
}

/* Todo paragrafo que estiver dentro de um <li> que esta dentro de uma <ol> recebera o design abaixo. */
ol li p {
    background-color: blue;
}

